:root {
    --color-primary: #F57676;
    --color-primary-light: #FCC0C0;
    --color-primary-variant: #FEA5A5;
    --color-red: #F70A0A;
    --color-red-light: #F94444;
    --color-green: #00c475;
    --color-green-light: hsl(156,100%,38%,15%);
    --color-gray-900: #1e1e66;
    --color-gray-700: #2d2b7c;
    --color-gray-300: rgba(242, 242, 254, 0.3);
    --color-white: #f2f2fe;
    --color-bg: #0f0f3e;

   

}